[Unit]
Description=Run dl_src - source hdmi signal for Decklink capture card test
After=network.target
Requires=graphical-session.target

[Service]
Type=exec

Environment=DISPLAY=:0
# Environment=WAYLAND_DISPLAY=wayland-0

ExecStart=/home/pi/dl_src.sh

Restart=always
RestartSec=5s
StartLimitInterval=5

[Install]
WantedBy=default.target
